doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./style.css")
    link(href="https://cdn.boxicons.com/fonts/basic/boxicons.min.css", rel="stylesheet")
    link(href="https://cdn.boxicons.com/fonts/brands/boxicons-brands.min.css", rel="stylesheet")
    link(href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css", rel="stylesheet")
    title Dashboard
  body
    nav.side-bar.collapsed
      header
        .image-text
          span.img
            img(src="/assets/images/logo.jpg", alt="logo")
          .text.header-text
            span.name
              | Mindley
              .toggle
                i.bx.bx-arrow-right-circle.toggle-img

      .menu-bar
        .menu
          ul.menu-links
            li.nav-link.active
              a(href="/home?username=${encodeURIComponent(username)}")
                i.bx.bx-home-alt-2.icon
                span.text.nav-text Dashboard
            li.nav-link
              a(href="/chat_support?username=${encodeURIComponent(username)}")
                i.bx.bx-message-circle-dots-2.icon
                span.text.nav-text Chatbot
            li.nav-link
              a(href="/rooms?username=${encodeURIComponent(username)}")
                i.bx.bx-people-diversity.icon
                span.text.nav-text Peers
            li.nav-link
              a(href="/resources?username=${encodeURIComponent(username)}")
                i.bx.bx-captions.icon
                span.text.nav-text Resources
        .bottom-content
          li.logout
            a(href="/")
              i.bx.bx-running.icon
              span.text.nav-text Logout
    .header 
      button.menu-btn.menu-icon(title="Open Menu")
        img(src="/assets/images/menu_open_40dp_000000_FILL0_wght400_GRAD0_opsz40.svg", alt="")
    .content
      .cards
        .card-1
          .box
            p Welcome
            h3 #{username}
            button.profile-btn Edit profile
          .icon-case
            img(src="/assets/images/profile.png", alt="Profile")

      .cards
        .Performance-card
          .box
            h1 Performance
            h3 Click here to view your Performance
          button.performance-view Click to view

        .assessment-card
          .box
            h1 Take Health Assessment
            button.assessment-btn Take Test

        .care-card
          .box
            h1 Care Points
            button.care-points Click to view

      .cards
        .graph-card
          div
            canvas#myChart(width="800", height="250")

    script(src="https://cdn.jsdelivr.net/npm/chart.js")
    script(src="home.js")
    script.
      const menuItems = document.querySelectorAll('.nav-link');
      menuItems.forEach(item => {
          item.addEventListener('click', () => {
              menuItems.forEach(i => i.classList.remove('active'));
              item.classList.add('active');
          });
      });
      const toggle = document.querySelector('.toggle');
      const sideBar = document.querySelector('.side-bar');
      const menuBtn = document.querySelector('.menu-btn');
      menuBtn.addEventListener('click', () => sideBar.classList.toggle('collapsed'));
      toggle.addEventListener('click', () => sideBar.classList.toggle('collapsed'));
